/* CSS Document */
@import url('normalize.css');

*, *:before, *:after { box-sizing: border-box; margin: 0; padding: 0; transition-duration: 0.5s; }
*::selection { color: #FFF; background: #ff4949; }

html { font-size: 100%; }
body { background: #FFF; font: 1em/1.5 'Microsoft JhengHei','Noto Sans TC', sans-serif; /*font-size: 16px;*/ }
img { border: 0; }
a { display: block; text-decoration: none; }
ul,li { list-style: none; margin: 0; padding: 0; }


#page-loading { width: 100%; height: 100%; background: url(../images/loading-spinning-bubbles.svg) no-repeat 50% 50%; background-color: #c10000; position: fixed; left: 0; top: 0; z-index: 99999; }

.header { height: 100vh; /*display: flex; position: relative;*/ }
.header-bg { width: 100%; height: 100%; background: url(../images/BGindex.jpg) 50% 50%; /*background-size: 100%;*/ }
.btn-nextArrow { width: 31px; height: 27px; background: url(../images/nextArrow.png); background-size: 100%; position: absolute; left: 50%; bottom: 3em; margin-left: -20px; z-index: 99; }

/*----- ABOUT -----*/
.container-block { width: 100%; max-width: 1000px; letter-spacing: 0.1em; margin: 0 auto;  padding: 2em 0; text-align: center; }
.gray { background: #EEE; }
h1 { color: #c10000; font: 3em 'Comfortaa', cursive; margin: 0; padding: 0.67em 0 0.3em 0; }
h2 { color: #ff4949; font: bold 2em 'Noto Sans TC', sans-serif; margin: 0; }
h3 { color: #a0a0a0; font: 1em 'Comfortaa', cursive; margin-top: 0.5em; }
.title { /*padding: 0 0 1em 0;*/ }
.sub-header { width: 205px; height: 25px; background: url(../images/baseline.png) no-repeat; margin: 0 auto; }
/*-- EXPERIENCE --*/
.experience-block { width: 100%; margin: 3em 0 4em 0; }
.experience-block>ul { display: flex; justify-content: center; align-items: stretch; }
.experience-block>ul>li { width:46.5%; background: #EEE; box-shadow: inset 0 0 0 10px #EEE, inset 0 0 0 12px #FFF; flex: none; font-size: 1.1em; margin: 0 1%; padding: 2em; position: relative; text-align:justify; text-justify: distribute; }
.logoPU { width: 90px; height: 90px; perspective: 700; position: absolute; left: 50%; top: -34px; margin-left: -45px; }
.logoUJ { width: 90px; height: 90px; perspective: 700; position: absolute; left: 50%; top: -34px; margin-left: -45px; }
.logoPU-hover { width:90px; height: 90px; background: url(../images/logoPU.png); transition: all 0.6s ease; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; }
.logoUJ-hover { width:90px; height: 90px; background: url(../images/logoUJ.png); transition: all 0.6s ease; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; }
.logoPU-hover:hover, .logoUJ-hover:hover { width:90px; height: 90px; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); transform: rotateY(180deg); }
.front, .back { width:90px; height: 90px; position: absolute; top: 0; left: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.back { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); transform: rotateY(180deg); }
.experience-time { padding-top: 2em; text-align: center; }
.experience-title { font-size: 1.2em; padding-bottom: 1em; text-align: center; }
.experience-depict { color: #787878; }
/*-- SKILL --*/
.skill-block { width: 100%; padding: 0.5em 0 3em 0; }
.skill-block>ul { width: 100%; display: flex; flex-wrap: wrap; justify-content: center; margin: 0 auto; }
.skill-block>ul>li { font-size: 3em; flex: none; margin: 0 2%; }


/*----- PORTFOLIO -----*/
/*-- BTN --*/
.btn-more a { width: 110px; border: 1px solid #ff4949; border-radius: 50px; color: #ff4949; font: 1.1em 'Comfortaa', cursive; margin: 0 auto; padding: 0.5em; }
.btn-more a:hover { background: #ff4949; color: #FFF; transition-duration: 0.5s; }
.btn-top a, .btn-back a { width: 110px; display: none; border: 1px solid #ff4949; border-radius: 50px; color: #ff4949; font: 1.1em 'Comfortaa', cursive; margin: 0 auto; padding: 0.5em; }
.btn-top a:hover, .btn-back a:hover { display: none; background: #ff4949; color: #FFF; transition-duration: 0.5s; }
.active { display: none; }
/*-- NAV --*/
#sort-block { padding: 0 0 0.5em 0; }
/*-- BANNER --*/
.banner-block { width: 100%; margin: 0 0 1em 0; }
.banner-block ul { width: 100%; display: flex; flex-wrap: wrap; justify-content: center; padding-bottom: 1.5em; }
.banner-block ul>li { width: 33%; flex: none; padding: 0.5% 1.5%; }
.banner-block .banner-btn-block li { width: 18%; flex: none; padding: 0.5% 1.5%; }

.gallery:after {
	content: '';
	display: block;
	height: 2px;
	margin: 0.5em 0 1.4em;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gallery img { width: 100%; height: 100%; -webkit-filter: grayscale(50%); /* Safari */ filter: grayscale(50%); }
.gallery a { display: inline-block; overflow: hidden; }


/*----- CONTACT -----*/
.mail { width: 30%; margin: 0 auto; }
.mail a { color: #ff4949; }
.mail a:hover { color: #c10000; }


/*----- FOOTER -----*/
.footer { background: #c10000; color: #FFF; margin: 3em 0 0 0; }
.footer p { margin: 0; padding: 1em 0; }




@media screen and (max-width:1024px) {
    .header { height: 100vmin; }
    .btn-nextArrow { display: none; }
    /*.gallery a { height: 290px; }*/
}

@media screen and (max-width:750px) {
	h1 { font-size: 2.5em; }
	.container-block { padding: 1em 0; }
	.experience-block { margin: 3em 0 2em 0; }
	.experience-block>ul { flex-wrap: wrap; }
	.experience-block>ul>li { width: 90%; }
	.experience-block>ul>li:first-child { margin: 0 0 3em 0; }
	.skill-block { width: 80%; padding: 0 0 3em 0; margin: 0 auto; }
	.skill-block>ul>li { font-size: 4em; margin: 0 6%; }
	.banner-block ul>li { width: 46.5%; padding: 1% 1.5%; }
	.banner-block .banner-btn-block li { width: 35%; }
	.mail { width: 100%; }
}