/* CSS Document */

@import url('normalize.css');
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 0.5s;
}

*::selection {
    color: #FFF;
    background: #ff4949;
}

html {
    font-size: 100%;
}

body {
    background: #EEE;
    font: 1em/1.5 'Microsoft JhengHei', 'Noto Sans TC', sans-serif;
    /*font-size: 16px;*/
}

img {
    border: 0;
}

a {
    display: block;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.web-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.web-header {
    width: 90%;
    background: #c10000;
    margin: 0 auto;
    margin-top: 3%;
    padding: 5%;
    text-align: center;
}

.kind {
    color: #FFF;
    font-size: 3vmin;
}

.article-title {
    color: #FFF;
    font-size: 5vmin;
}

.link {
    font: 1.5vmin 'Comfortaa', cursive;
    letter-spacing: 0.2em;
    padding: 1.5em 0 0 0;
}

.link a {
    color: #DDD;
    display: inline-block;
}

.JPG-block {
    width: 100%;
    margin: 0 auto;
    padding: 3% 0;
    text-align: center;
}

.JPG-block img {
    width: 90%;
    max-width: 1200px;
}

.web-btn-block {
    width: 50%;
    list-style: none;
    margin: 0 auto;
}

.web-btn-block li {
    width: 49%;
    display: inline-block;
    margin-bottom: 3%;
    text-align: center;
}

.btn-web-top a,
.btn-web-goBACK a {
    width: 110px;
    border: 1px solid #ff4949;
    border-radius: 50px;
    color: #ff4949;
    font: 1.1em 'Comfortaa', cursive;
    margin: 0 auto;
    padding: 0.5em;
}

.btn-web-top a:hover,
.btn-web-goBACK a:hover {
    background: #ff4949;
    color: #FFF;
    transition-duration: 0.5s;
}

@media screen and (max-width:768px) {
    .web-header {
        padding: 3%;
    }
    .JPG-block {
        padding: 1% 0;
    }
    .link a {
        font-size: 1vmin;
    }
    .web-btn-block {
        width: 100%;
    }
}