
$color: (
    primary: #333333,
    primary-tint: #9a9a9a,
    // secondary: #F8C566,
    secondary: #F04E56,
    background: #efefef
);

$size: (
    xxl: 32px,
    xl: 24px,
    lg: 20px,
    md: 16px,
    sm: 14px,
    xs: 8px,
    xxs: 4px
);

$font-family-en: 'Roboto', sans-serif;

